html, body, .wrapper, .main-container-wrapper, .form-container, #map-container {
  height: 100%;
  width: 100%;
}
.wrapper > div {
  height: 100%;
  width: 100%;
}
.navbar {
  margin-bottom: 0;
}
.navbar-default {
  background-color: white;
  border-color: white;
  border-bottom-color: #e7e7e7;
}
.navbar-default .navbar-brand {
  color: #FF006A;
}
.navbar-nav {
  margin-left: 20px;
}
.task-lists {
  max-height: 800px;
  overflow: auto;
  margin-top: 10px;
}
