<!DOCTYPE html>
<html>
  <head>
    <title>TgmReact</title>
    <%= csrf_meta_tags %>

    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyA6jjTiFMlGP3gGTUF0XP0l4917iDCyYNk"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
